<plist version="1.0">
<dict>
<key>items</key>
<array>
<dict>
<key>assets</key>
<array>
<dict>
<key>kind</key>
<string>software-package</string>
<key>url</key>
<string>hhttp://p5098fqou.bkt.clouddn.com/CPUDasherX.ipa</string>
</dict>
<dict>
<key>kind</key>
<string>display-image</string>
<key>needs-shine</key>
<true/>
<key>url</key>
<string>https://img.25pp.com/uploadfile/app/icon/20170428/1493387657737648.jpg@140w_140h</string>
</dict>
<dict>
<key>kind</key>
<string>full-size-image</string>
<key>needs-shine</key>
<true/>
<key>url</key>
<string>https://img.25pp.com/uploadfile/app/icon/20170428/1493387657737648.jpg@140w_140h</string>
</dict>
</array>
<key>metadata</key>
<dict>
<key>bundle-identifier</key>
<string>com.yijia.juhuasuan</string>
<key>bundle-version</key>
<string>1.0.0</string>
<key>kind</key>
<string>software</string>
<key>subtitle</key>
<string>Shadowrocket</string>
<key>title</key>
<string>电池先生1.2.2</string>
</dict>
</dict>
</array>
</dict>
</plist>
